/* Changed paragraphs to a dark red color and slightly bigger */
p{
    color: darkred;
    font-size: 1.25em
}

/* created and ID so a paragraph may overwrite the previous rule */
p#special{
    color: deepskyblue;
    font-size: 2em
}


h2{
    color: darkgoldenrod;
    text-decoration: underline;
}

/* gave all tables a colored border */
table{
    border-style: solid;
    border-width: 2px;
    border-color: darkgoldenrod;
}

/* created a class that may be applied to different types of html elements */
.green{
    color: green;
}

img.logo{
    width: 267px;
    height: 72px;
}