<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<h1>About Kevin Sieber</h1>
<body>
<h2>Kevin's Experience at College</h2>
<p>Overall, I loved UMD. There were many great aspects outside of class, such as food to eat and sports to play.</p>
<p>My Favorite IM Leagues Sports:</p>
<ul>
    <li>Volleyball</li>
    <li>Softball</li>
    <li>Basketball</li>
    <li>Flag Football</li>
</ul>
<p>My Favorite Dining Hall Meals</p>
<ol>
    <li>Chicken Tenders</li>
    <li>Buffalo Chicken Wrap</li>
    <li>Campus Beef Burger</li>
    <li>Chicken Piccata</li>
    <li>Ceaser Chicken Wrap</li>

</ol>
<h2>Kevin's Plans After College</h2>
<p>I have a job with <strong><em>Stanley Black and Decker.</em></strong>
    I will be in their leadership program and a part of the IT Division.</p>


</body>
</html>