<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Kevin Sieber</title>
    <link href="/static/css/style.css" rel="stylesheet">
</head>
<body>
<h1>About Kevin Sieber</h1>
<img class = logo src="https://terpconnect.umd.edu/~jbono/bmgt407/images/smith-logo.png"
     alt="Smith Logo">

<!-- Start of Section 1. -->
<h2>Kevin's Experience at College</h2>

<p>The first thought of "college experience" is <strong>class,</strong> and I took many great classes at the University of Maryland.</p>

<!-- Created a table to represent my favorite classes -->
<p><em>My Favorite Classes:</em></p>

<table>
    <tr>
        <th>Course</th>
        <th>Semester</th>
    </tr>
    <tr>
        <td>MUSC205</td>
        <td>Fall 2020</td>
    </tr>
    <tr>
        <td>CCJS325</td>
        <td>Fall 2021</td>
    </tr>
    <tr>
        <td>BMGT332</td>
        <td>Spring 2022</td>
    </tr>
    <tr>
        <td>BMGT404</td>
        <td>Spring 2023</td>
    </tr>
</table>

<p>Here is a link to find any of these classes and their descriptions: <a href="https://app.testudo.umd.edu/soc/" target="_blank">UMD Class Listings</a></p>
<!-- Created 2 new lists to discuss other aspects of the University -->
<p>Overall, I loved UMD. There were many great aspects outside of class as well, such as <strong>food</strong> to eat and <strong>sports</strong> to play.</p>
<p><em>My Favorite IM Leagues Sports:</em></p>
<ul class = green>
    <li>Volleyball</li>
    <li>Softball</li>
    <li>Basketball</li>
    <li>Flag Football</li>
</ul>
<p><em>My Favorite Dining Hall Meals:</em></p>
<ol class = green>
    <li>Chicken Tenders</li>
    <li>Buffalo Chicken Wrap</li>
    <li>Campus Beef Burger</li>
    <li>Chicken Piccata</li>
    <li>Ceaser Chicken Wrap</li>

</ol>
<p id="special"> A Fun Fact: this text is my favorite color.</p>
<!-- Start of Section 2. -->
<h2>Kevin's Experience in BMGT407</h2>
<p>Though we are early in the semester, I have learned many new skills. This first focus has been work in html.</p>
<p>Here is a link showing my early work in html: <a href="/hello">Hello World</a></p>

<!-- Start of Section 3. -->
<h2>Kevin's Plans After College</h2>
<p>I have a job with <strong><em>Stanley Black and Decker.</em></strong>
    I will be in their leadership program and a part of the IT Division.</p>
<p>Here is a link to learn more about their organization: <a href="https://www.stanleyblackanddecker.com/">Stanley Black and Decker</a></p>



</body>
</html>